# Copia este archivo como .env y completa los valores. El .env NO se sube al repositorio.
AZURE_TENANT_ID=<TENANT_ID>
AZURE_CLIENT_ID=<CLIENT_ID>
GYMFLOW_CORS_ORIGINS=http://localhost:4200
RESERVATIONS_URL=http://ms-gymflow-reservations:8081
CATALOG_URL=http://ms-gymflow-catalog:8082
